@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

body {
    /*background-image: url("BG/cat.gif");*/
    background-color: #AAAAAA;
    width: 100%;
    margin: 0;
    font-family: 'Josefin Slab',sans-serif;
    position: absolute;
    font-size: 1em;
}

#wrap
{
	width : 100vw;
	height: 100vh;
	overflow: all;
}

header
{
	border: 2px solid #000;
	width: 90%;
	height: auto;
	margin: 5vw;
}

#header-info
{
	padding: 25px;
	font-size: 2em;
}

#header-p
{
	font-size: 1.2em;
	padding-left: 25px;
}

nav
{
	position: relative;
}

nav ul
{
	list-style: :none;
	text-align:right;
	padding-left: 25px;
}

nav ul li
{
	display: inline;
	text-decoration: none;
	padding-right: 30px;
}

nav ul li a
{
	text-decoration: none;
	color:black;
	font-size: 2em;
	font-weight: 700;
}

.left-c
{
	width: 20vw;
	height:auto;
	border: 2px dashed #000;
	margin-left: 5vw;
	margin-top: 10px;
	padding: 2.5vw;
}

#blue
{
	background-color: blue;
}
#purple
{
	background-color: purple;
}
#yellow
{
	background-color: yellow;
}
#red
{
	background-color: red;
}
.left-column-elements

{
	text-align: :center;
	padding-top: 5px;
	padding-bottom: 5px;
}

p
{
	font-family: 'Josefin Slab', sans-serif;
	color: white;
}

h1
{
	font-family: 'Josefin Slab', sans-serif; letter-spacing: 20px;
}

h1.title
{
	margin: 10px 0px 0px 0px; font-size: 550%;text-align: center;
}

h1.header
{
	font-size: 350%;
	margin: 0 auto;
}

p.subtitle
{
	margin: 0;
	padding-bottom: 10px;

}

p.center
{
	margin: 20 auto; text-align: center;
}

.top
{
    clear: both;
    display: table;
/*    background-color: rgb(125,200,125);*/
}

.left
{	
	display: inline;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.content
{
	display: inline;
	float: right;
	width: 30%;
	padding-right: 10vw;
}


.right
{
	float: left;
    padding: 105px;
	width: 50%;
	margin-top: 200px;
	margin-bottom: 20px;
	margin-right: 50px;
	border: 2px solid #000;
}

.gallery
{
	display: table;
	margin-left: 50px;
	margin-right: 50px;
}

.contact
{

	display: table;
	margin-left: 50px;

}

.reward
{

    color: white;
	text-decoration: none;

}


div.wrapper{
	z-index: 0;
	float:left; 
	position:relative;
	width: 24.5%;
}


.Image
{
	width: 100%;
	transition: blur 0.7s;
}

div.description{
	position:absolute;
	top:40%;
	width:100%;
	color:white;
/*	background-color: red;*/
	opacity: 0;
	text-align: center;
	visibility : hidden;
/*	filter:opacity(70%);*/
	transition: opacity .7s,visibility 0.7s;
}

div.wrapper:hover .description
{
	visibility : visible;
	opacity:1; 
}

div.wrapper:hover .Image
{
	filter:blur(7px);
}

p.description_content{

	padding:15px;
	margin:0px;
	font-size: 28px;
}

.footer
{

		background-color: rgba(125,225,125,0.25);
		width: 100%;
		height: 10vh;
		vertical-align: middle;
		border:2px solid:#000;

}

.footer-text
{
	padding-top:30px;
	color:white;
	text-align: center;

}

h1
{
	color:white;
}

ul.menu {
		z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(125,125,125,0.3);

    position: fixed;
    top: 0;
    width: 100%;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    letter-spacing: 0px;
    text-decoration: none;
    transition: letter-spacing 0.5s;
}

/* Change the link color to #111 (black) on hover */
li.menu a:hover {
    background-color: #111;
    letter-spacing: 5px;
    color: rgb(125,255,125);

}

.active {
    background-color: #4CAF50;
}

#thisisID
{

}